.git
.github
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
zigbee-lock-backup
discovery/catalog*.json
discovery/catalog*.yaml
discovery/catalog*.yml
*.log
node_modules
build
dist
